<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<body>
<h1>Student</h1>
Name: <b th:text="${student.firstName}" /> <b th:text="${student.lastName}" /><br/>
Email: <span th:text="${student.email}" /><br/>
Skills:
<span th:each="course : ${student.courseList}">
			<br/>&nbsp;&nbsp;<span th:text="${course.label}" /> - <span th:text="${course.description}" />
		</span>
<form th:action="@{/student/{id}/courses(id=${student.id})}" method="post" enctype="multipart/form-data" >
    <select name="courseId">
        <option th:each="course : ${courseList}"
                th:value="${course.id}"
                th:text="${course.description}">Skill</option>
    </select>
    <input type="submit" value="Add Course"/>
</form>
</body>
</html>